.drawer
  input.drawer__checkbox(id="drawer-checkbox", type="checkbox")

  label.drawer__handler(for="drawer-checkbox")

  nav.drawer__navigation
    .drawer__navigation-list
      .drawer__navigation-item
        a.drawer__navigation-link(href="/") Link 1

      .drawer__navigation-item
        a.drawer__navigation-link(href="/") Link 2

      .drawer__navigation-item
        a.drawer__navigation-link(href="/") Link 3
